In [1]:
import pulp

In [2]:
import numpy as np
import pandas as pd

In [3]:
members = range(1,27)
days = range(1,29)
roles = range(1,18)

In [4]:
# defining the variables
x = pulp.LpVariable.dicts("x",(members,days,roles),0,1,pulp.LpInteger)

In [5]:
# objective
model = pulp.LpProblem("Toastmasters", pulp.LpMaximize)
model += pulp.lpSum(x[si][dj][ri] for si in members for dj in days for ri in roles)

In [6]:
# 17 roles per meeting
for d in days:
    model += pulp.lpSum(x[m][d][r] for m in members for r in roles) == 17

In [7]:
# every member has at least done a role once
for m in members:
    for r in roles:
        model += pulp.lpSum(x[m][d][r] for d in days) >= 1

In [8]:
# only one role per member per meeting
for m in members:
    for d in days:
        model += pulp.lpSum(x[m][d][r] for r in roles) <= 1

In [9]:
# every role in the meeting must be occupied
for d in days:
    for r in roles:
        model += pulp.lpSum(x[m][d][r] for m in members) == 1

## Solving the Model

In [10]:
# Solve ILP problem and post-processing to get the summary
model.solve()

1

In [19]:
# model

In [11]:
for vi in model.variables():
    if vi.varValue == 1:
        print(f"{vi.name} = {vi.varValue:.0f}")

x_10_11_15 = 1
x_10_14_14 = 1
x_10_18_11 = 1
x_10_19_8 = 1
x_10_1_9 = 1
x_10_20_5 = 1
x_10_21_1 = 1
x_10_22_2 = 1
x_10_23_4 = 1
x_10_24_13 = 1
x_10_26_17 = 1
x_10_27_7 = 1
x_10_28_16 = 1
x_10_2_3 = 1
x_10_5_12 = 1
x_10_6_6 = 1
x_10_9_10 = 1
x_11_16_1 = 1
x_11_18_9 = 1
x_11_19_12 = 1
x_11_1_14 = 1
x_11_21_13 = 1
x_11_22_6 = 1
x_11_24_2 = 1
x_11_25_3 = 1
x_11_26_4 = 1
x_11_27_8 = 1
x_11_28_15 = 1
x_11_2_7 = 1
x_11_3_16 = 1
x_11_4_17 = 1
x_11_5_5 = 1
x_11_6_11 = 1
x_11_7_10 = 1
x_12_10_12 = 1
x_12_12_11 = 1
x_12_13_8 = 1
x_12_14_7 = 1
x_12_15_16 = 1
x_12_16_3 = 1
x_12_17_15 = 1
x_12_18_2 = 1
x_12_21_9 = 1
x_12_22_1 = 1
x_12_23_11 = 1
x_12_24_11 = 1
x_12_25_6 = 1
x_12_26_10 = 1
x_12_27_4 = 1
x_12_3_14 = 1
x_12_4_5 = 1
x_12_5_17 = 1
x_12_6_13 = 1
x_13_10_7 = 1
x_13_11_17 = 1
x_13_12_14 = 1
x_13_14_6 = 1
x_13_16_5 = 1
x_13_17_4 = 1
x_13_18_3 = 1
x_13_19_13 = 1
x_13_20_11 = 1
x_13_23_2 = 1
x_13_24_10 = 1
x_13_25_12 = 1
x_13_28_1 = 1
x_13_2_8 = 1
x_13_3_15 = 1
x_13_4_16 = 1
x_13_7_9 = 1
x_13_8_4 = 1
x_14_12_17 = 1
x_14_14_1 = 1
x_14_15_9 = 1
x_14_17_8 = 1
x_14_18_5 = 1
x_14_19_14 = 1
x_14_20_4 = 1
x_14_21_15 = 1
x_14_22_17 = 1
x_14_26_7 = 1
x_14_27_3 = 1
x_14_28_10 = 1
x_14_2_12 = 1
x_14_3_1 = 1
x_14_4_13 = 1
x_14_5_6 = 1
x_14_6_2 = 1
x_14_8_16 = 1
x_14_9_11 = 1
x_15_10_8 = 1
x_15_11_4 = 1
x_15_13_11 = 1
x_15_14_9 = 1
x_15_15_2 = 1
x_15_16_14 = 1
x_15_18_7 = 1
x_15_1_1 = 1
x_15_21_6 = 1
x_15_22_15 = 1
x_15_25_5 = 1
x_15_27_16 = 1
x_15_2_17 = 1
x_15_3_12 = 1
x_15_4_8 = 1
x_15_7_3 = 1
x_15_8_10 = 1
x_15_9_13 = 1
x_16_10_2 = 1
x_16_11_9 = 1
x_16_12_7 = 1
x_16_13_6 = 1
x_16_15_5 = 1
x_16_17_14 = 1
x_16_18_1 = 1
x_16_19_2 = 1
x_16_1_8 = 1
x_16_20_15 = 1
x_16_22_12 = 1
x_16_23_10 = 1
x_16_24_3 = 1
x_16_25_4 = 1
x_16_26_13 = 1
x_16_28_11 = 1
x_16_3_17 = 1
x_16_5_16 = 1
x_16_8_1 = 1
x_17_10_9 = 1
x_17_11_3 = 1
x_17_12_8 = 1
x_17_13_5 = 1
x_17_14_15 = 1
x_17_16_12 = 1
x_17_17_10 = 1
x_17_19_17 = 1
x_17_1_4 = 1
x_17_22_9 = 1
x_17_24_16 = 1
x_17_26_11 = 1
x_17_27_1 = 1
x_17_28_14 = 1
x_17_2_6 = 1
x_17_3_7 = 1
x_17_4_2 = 1
x_17_7_13 = 1
x_17_9_9 = 1
x_18_12_5 = 1
x_18_13_7 = 1
x_18_14_11 = 1
x_18_16_9 = 1
x_18_17_17 = 1
x_18_18_14 = 1
x_18_19_15 = 1
x_18_1_16 = 1
x_18_21_3 = 1
x_18_23_14 = 1
x_18_26_8 = 1
x_18_27_10 = 1
x_18_28_6 = 1
x_18_2_1 = 1
x_18_5_2 = 1
x_18_7_12 = 1
x_18_8_13 = 1
x_18_9_4 = 1
x_19_10_6 = 1
x_19_11_11 = 1
x_19_14_2 = 1
x_19_15_10 = 1
x_19_17_7 = 1
x_19_19_4 = 1
x_19_20_16 = 1
x_19_21_12 = 1
x_19_22_13 = 1
x_19_23_15 = 1
x_19_24_8 = 1
x_19_25_1 = 1
x_19_27_17 = 1
x_19_28_3 = 1
x_19_3_13 = 1
x_19_5_9 = 1
x_19_7_14 = 1
x_19_8_5 = 1
x_1_10_1 = 1
x_1_12_3 = 1
x_1_13_4 = 1
x_1_15_7 = 1
x_1_18_13 = 1
x_1_19_11 = 1
x_1_20_12 = 1
x_1_21_4 = 1
x_1_22_14 = 1
x_1_23_16 = 1
x_1_28_5 = 1
x_1_2_9 = 1
x_1_3_2 = 1
x_1_4_15 = 1
x_1_5_10 = 1
x_1_6_17 = 1
x_1_7_6 = 1
x_1_8_6 = 1
x_1_9_8 = 1
x_20_10_16 = 1
x_20_11_5 = 1
x_20_12_15 = 1
x_20_13_1 = 1
x_20_15_14 = 1
x_20_16_7 = 1
x_20_17_13 = 1
x_20_1_11 = 1
x_20_20_2 = 1
x_20_22_3 = 1
x_20_24_17 = 1
x_20_25_16 = 1
x_20_26_12 = 1
x_20_2_10 = 1
x_20_4_9 = 1
x_20_5_8 = 1
x_20_6_4 = 1
x_20_9_6 = 1
x_21_10_10 = 1
x_21_11_6 = 1
x_21_14_8 = 1
x_21_15_12 = 1
x_21_16_4 = 1
x_21_17_16 = 1
x_21_20_3 = 1
x_21_21_2 = 1
x_21_22_5 = 1
x_21_23_13 = 1
x_21_25_15 = 1
x_21_26_1 = 1
x_21_27_14 = 1
x_21_28_17 = 1
x_21_2_11 = 1
x_21_4_7 = 1
x_21_6_10 = 1
x_21_7_17 = 1
x_21_8_9 = 1
x_22_10_15 = 1
x_22_11_10 = 1
x_22_13_17 = 1
x_22_16_2 = 1
x_22_18_4 = 1
x_22_19_9 = 1
x_22_20_8 = 1
x_22_22_11 = 1
x_22_23_3 = 1
x_22_26_16 = 1
x_22_27_12 = 1
x_22_28_7 = 1
x_22_2_13 = 1
x_22_4_6 = 1
x_22_5_1 = 1
x_22_6_14 = 1
x_22_7_5 = 1
x_23_13_13 = 1
x_23_14_5 = 1
x_23_15_17 = 1
x_23_16_11 = 1
x_23_17_9 = 1
x_23_18_8 = 1
x_23_1_15 = 1
x_23_21_7 = 1
x_23_24_1 = 1
x_23_25_10 = 1
x_23_26_14 = 1
x_23_27_2 = 1
x_23_28_13 = 1
x_23_3_6 = 1
x_23_5_3 = 1
x_23_6_16 = 1
x_23_7_4 = 1
x_23_8_12 = 1
x_23_9_12 = 1
x_24_11_14 = 1
x_24_12_6 = 1
x_24_13_9 = 1
x_24_15_13 = 1
x_24_18_12 = 1
x_24_19_3 = 1
x_24_1_2 = 1
x_24_20_1 = 1
x_24_21_10 = 1
x_24_23_7 = 1
x_24_24_15 = 1
x_24_27_11 = 1
x_24_2_16 = 1
x_24_3_8 = 1
x_24_4_4 = 1
x_24_6_5 = 1
x_24_9_17 = 1
x_25_10_5 = 1
x_25_11_8 = 1
x_25_12_2 = 1
x_25_13_3 = 1
x_25_14_12 = 1
x_25_15_11 = 1
x_25_16_6 = 1
x_25_19_1 = 1
x_25_1_17 = 1
x_25_22_10 = 1
x_25_24_7 = 1
x_25_25_13 = 1
x_25_27_15 = 1
x_25_28_4 = 1
x_25_3_9 = 1
x_25_5_14 = 1
x_25_7_16 = 1
x_25_8_15 = 1
x_26_10_14 = 1
x_26_11_1 = 1
x_26_12_13 = 1
x_26_13_12 = 1
x_26_16_16 = 1
x_26_17_5 = 1
x_26_18_6 = 1
x_26_21_8 = 1
x_26_22_7 = 1
x_26_26_9 = 1
x_26_28_2 = 1
x_26_2_4 = 1
x_26_4_10 = 1
x_26_5_11 = 1
x_26_7_15 = 1
x_26_8_17 = 1
x_26_9_3 = 1
x_2_10_17 = 1
x_2_11_7 = 1
x_2_12_4 = 1
x_2_13_14 = 1
x_2_16_8 = 1
x_2_17_11 = 1
x_2_19_16 = 1
x_2_1_13 = 1
x_2_20_10 = 1
x_2_21_16 = 1
x_2_23_12 = 1
x_2_24_5 = 1
x_2_26_6 = 1
x_2_28_9 = 1
x_2_3_3 = 1
x_2_4_1 = 1
x_2_6_7 = 1
x_2_8_2 = 1
x_2_9_15 = 1
x_3_10_4 = 1
x_3_12_10 = 1
x_3_13_16 = 1
x_3_14_13 = 1
x_3_15_3 = 1
x_3_17_2 = 1
x_3_19_7 = 1
x_3_1_12 = 1
x_3_20_17 = 1
x_3_23_6 = 1
x_3_24_9 = 1
x_3_25_11 = 1
x_3_26_15 = 1
x_3_27_5 = 1
x_3_4_14 = 1
x_3_6_8 = 1
x_3_7_2 = 1
x_3_8_3 = 1
x_3_9_1 = 1
x_4_11_16 = 1
x_4_12_9 = 1
x_4_13_10 = 1
x_4_14_17 = 1
x_4_15_1 = 1
x_4_16_13 = 1
x_4_17_3 = 1
x_4_18_15 = 1
x_4_20_6 = 1
x_4_21_5 = 1
x_4_23_8 = 1
x_4_25_8 = 1
x_4_27_6 = 1
x_4_28_12 = 1
x_4_2_14 = 1
x_4_3_11 = 1
x_4_4_3 = 1
x_4_5_4 = 1
x_4_6_12 = 1
x_4_7_7 = 1
x_4_9_2 = 1
x_5_10_11 = 1
x_5_13_2 = 1
x_5_14_16 = 1
x_5_15_6 = 1
x_5_16_10 = 1
x_5_17_12 = 1
x_5_18_10 = 1
x_5_1_5 = 1
x_5_20_13 = 1
x_5_21_17 = 1
x_5_22_4 = 1
x_5_23_1 = 1
x_5_25_7 = 1
x_5_27_9 = 1
x_5_5_15 = 1
x_5_6_3 = 1
x_5_8_8 = 1
x_5_9_14 = 1
x_6_10_13 = 1
x_6_11_2 = 1
x_6_12_12 = 1
x_6_14_10 = 1
x_6_15_4 = 1
x_6_16_15 = 1
x_6_17_1 = 1
x_6_18_16 = 1
x_6_1_3 = 1
x_6_20_14 = 1
x_6_22_8 = 1
x_6_23_17 = 1
x_6_24_6 = 1
x_6_25_14 = 1
x_6_26_5 = 1
x_6_6_9 = 1
x_6_7_11 = 1
x_6_8_7 = 1
x_7_11_13 = 1
x_7_13_15 = 1
x_7_14_3 = 1
x_7_16_17 = 1
x_7_19_10 = 1
x_7_1_6 = 1
x_7_20_7 = 1
x_7_21_11 = 1
x_7_22_16 = 1
x_7_24_12 = 1
x_7_25_9 = 1
x_7_2_2 = 1
x_7_3_4 = 1
x_7_5_7 = 1
x_7_6_1 = 1
x_7_7_8 = 1
x_7_8_14 = 1
x_7_9_5 = 1
x_8_10_3 = 1
x_8_12_16 = 1
x_8_15_8 = 1
x_8_17_6 = 1
x_8_19_5 = 1
x_8_1_10 = 1
x_8_20_9 = 1
x_8_21_14 = 1
x_8_23_5 = 1
x_8_24_4 = 1
x_8_25_17 = 1
x_8_26_2 = 1
x_8_2_15 = 1
x_8_3_5 = 1
x_8_4_12 = 1
x_8_5_13 = 1
x_8_7_1 = 1
x_8_8_11 = 1
x_8_9_7 = 1
x_9_11_12 = 1
x_9_12_1 = 1
x_9_14_4 = 1
x_9_15_15 = 1
x_9_18_17 = 1
x_9_19_6 = 1
x_9_1_7 = 1
x_9_23_9 = 1
x_9_24_14 = 1
x_9_25_2 = 1
x_9_26_3 = 1
x_9_27_13 = 1
x_9_28_8 = 1
x_9_2_5 = 1
x_9_3_10 = 1
x_9_4_11 = 1
x_9_6_15 = 1
x_9_9_16 = 1

## Converting to a dataframe for a clean output

In [12]:
myperson = []
myday = []
myrole = []
value = []

for vi in model.variables():
    person = vi.name.split("_")[1]
    day = vi.name.split("_")[2]
    role = vi.name.split("_")[3]
    
    myperson.append(person)
    myday.append(day)
    myrole.append(role)
    value.append(vi.varValue)
    
data = {'Person':myperson, 'Day':myday, 'Role':myrole, 'Value':value} 

df = pd.DataFrame(data)

In [13]:
# df.to_csv('role_optimazation.csv', index = False)

In [14]:
df

      Person Day Role  Value
0         10  10    1    0.0
1         10  10   10    0.0
2         10  10   11    0.0
3         10  10   12    0.0
4         10  10   13    0.0
...      ...  ..  ...    ...
12371      9   9    5    0.0
12372      9   9    6    0.0
12373      9   9    7    0.0
12374      9   9    8    0.0
12375      9   9    9    0.0

[12376 rows x 4 columns]

In [15]:
roles = [
'Ah Counter', 
'Grammarian',
'Timer', 
'Toastmaster', 
'Meeting speaker 1',
'Meeting speaker 2',
'Meeting speaker 3',
'meeting speaker 4',
'Speech Evaluator 1',
'Speech Evaluator 2',
'Speech Evaluator 3',
'Speech Evaluator 4',
'General evaluator', 
'Table topic master', 
'Table topic evalauator 1',
'Table topic evalauator 2',
'Harkmaster' ]

person = [
    'Member 1',
'Member 2',
'Member 3',
'Member 4',
'Member 5',
'Member 6',
'Member 7',
'Member 8',
'Member 9',
'Member 10',
'Member 11',
'Member 12',
'Member 13',
'Member 14',
'Member 15',
'Member 16',
'Member 17',
'Member 18',
'Member 19',
'Member 20',
'Member 21',
'Member 22',
'Member 23',
'Member 24',
'Member 25',
'Member 26',
'Member 27',
'Member 28',
'Member 29',
'Member 30',
]

In [16]:
person_dict = {}
for i in enumerate(person):
    person_dict[i[0] + 1] = i[1]
    
role_dict = {}
for i in enumerate(roles):
    role_dict[i[0] + 1] = i[1]

In [17]:
df['Name'] = df['Person'].apply(lambda x:person_dict[int(x)])
df['Assignment'] = df['Role'].apply(lambda x:role_dict[int(x)])

In [18]:
df

      Person Day Role  Value       Name          Assignment
0         10  10    1    0.0  Member 10          Ah Counter
1         10  10   10    0.0  Member 10  Speech Evaluator 2
2         10  10   11    0.0  Member 10  Speech Evaluator 3
3         10  10   12    0.0  Member 10  Speech Evaluator 4
4         10  10   13    0.0  Member 10   General evaluator
...      ...  ..  ...    ...        ...                 ...
12371      9   9    5    0.0   Member 9   Meeting speaker 1
12372      9   9    6    0.0   Member 9   Meeting speaker 2
12373      9   9    7    0.0   Member 9   Meeting speaker 3
12374      9   9    8    0.0   Member 9   meeting speaker 4
12375      9   9    9    0.0   Member 9  Speech Evaluator 1

[12376 rows x 6 columns]

In [19]:
def mapper(row):
    if row['Value'] == 1:
        return str(int(row['Role']))
    return str(int(row['Value']))

In [20]:
df['y'] = df.apply(mapper,axis = 1)

In [21]:
df

      Person Day Role  Value       Name          Assignment  y
0         10  10    1    0.0  Member 10          Ah Counter  0
1         10  10   10    0.0  Member 10  Speech Evaluator 2  0
2         10  10   11    0.0  Member 10  Speech Evaluator 3  0
3         10  10   12    0.0  Member 10  Speech Evaluator 4  0
4         10  10   13    0.0  Member 10   General evaluator  0
...      ...  ..  ...    ...        ...                 ... ..
12371      9   9    5    0.0   Member 9   Meeting speaker 1  0
12372      9   9    6    0.0   Member 9   Meeting speaker 2  0
12373      9   9    7    0.0   Member 9   Meeting speaker 3  0
12374      9   9    8    0.0   Member 9   meeting speaker 4  0
12375      9   9    9    0.0   Member 9  Speech Evaluator 1  0

[12376 rows x 7 columns]

In [22]:
# df.to_csv('role_optimization_final_2.csv', index = False)