In [1]:
import pulp

In [2]:
import numpy as np
import pandas as pd

In [76]:
members = range(1,31)
days = range(1,29)
roles = range(1,18)

In [77]:
# defining the variables
x = pulp.LpVariable.dicts("x",(members,days,roles),0,1,pulp.LpInteger)

In [78]:
y = pulp.LpVariable.dicts("y",(members),0,None,pulp.LpInteger)

In [79]:
# binary variable
b = pulp.LpVariable.dicts("b",(members),0,1,pulp.LpInteger)

In [80]:
# objective
model = pulp.LpProblem("Toastmasters", pulp.LpMaximize)
model += pulp.lpSum(y[si] for si in members)

In [81]:
# 17 roles per meeting
for d in days:
    model += pulp.lpSum(x[m][d][r] for m in members for r in roles) == 17

In [82]:
# Constraint not satisfied depending on the number of members
# every member has at least done a role once
# for m in members:
#     for r in roles:
#         model += pulp.lpSum(x[m][d][r] for d in days) >= 1

In [83]:
# only one role per member per meeting
for m in members:
    for d in days:
        model += pulp.lpSum(x[m][d][r] for r in roles) <= 1

In [84]:
# every role in the meeting must be occupied
for d in days:
    for r in roles:
        model += pulp.lpSum(x[m][d][r] for m in members) == 1

### Adding soft constraints

In [85]:
# number of roles that a member has done
        
for m in members:
    model += pulp.lpSum(x[m][d][r] for d in days for r in roles) - y[m] == 0

In [86]:
# using big M method to get abs(y) >= 15

M = 1e4

for m in members:
    model += y[m] + (M * b[m]) >= 15
    model += -y[m] + (M * (1 - b[m])) >= 15

## Solving the Model

In [87]:
# Solve ILP problem and post-processing to get the summary
model.solve()

1

In [88]:
print("Status:", pulp.LpStatus[model.status])

Status: Optimal

In [19]:
# model

In [89]:
for vi in model.variables():
    if vi.varValue == 1:
        print(f"{vi.name} = {vi.varValue:.0f}")

x_10_11_12 = 1
x_10_1_8 = 1
x_10_20_15 = 1
x_10_21_4 = 1
x_10_22_5 = 1
x_10_23_12 = 1
x_10_25_12 = 1
x_10_26_9 = 1
x_10_28_5 = 1
x_10_2_15 = 1
x_10_3_12 = 1
x_10_4_3 = 1
x_10_5_16 = 1
x_10_6_5 = 1
x_10_7_10 = 1
x_10_8_17 = 1
x_10_9_9 = 1
x_11_10_6 = 1
x_11_12_14 = 1
x_11_21_9 = 1
x_11_22_16 = 1
x_11_23_5 = 1
x_11_25_7 = 1
x_11_26_8 = 1
x_11_27_9 = 1
x_11_28_16 = 1
x_11_2_16 = 1
x_11_3_7 = 1
x_11_5_9 = 1
x_11_6_14 = 1
x_11_7_11 = 1
x_11_8_2 = 1
x_11_9_5 = 1
x_12_12_16 = 1
x_12_17_13 = 1
x_12_1_6 = 1
x_12_20_7 = 1
x_12_21_7 = 1
x_12_22_2 = 1
x_12_24_5 = 1
x_12_26_7 = 1
x_12_28_2 = 1
x_12_3_5 = 1
x_12_4_17 = 1
x_12_5_11 = 1
x_12_6_8 = 1
x_12_7_14 = 1
x_12_8_15 = 1
x_12_9_16 = 1
x_13_15_13 = 1
x_13_18_12 = 1
x_13_19_3 = 1
x_13_20_5 = 1
x_13_22_11 = 1
x_13_24_4 = 1
x_13_26_11 = 1
x_13_27_15 = 1
x_13_28_10 = 1
x_13_3_9 = 1
x_13_4_4 = 1
x_13_6_10 = 1
x_13_7_8 = 1
x_13_8_3 = 1
x_13_9_3 = 1
x_14_17_4 = 1
x_14_20_17 = 1
x_14_21_6 = 1
x_14_22_7 = 1
x_14_24_1 = 1
x_14_25_14 = 1
x_14_26_3 = 1
x_14_27_3 = 1
x_14_28_6 = 1
x_14_4_11 = 1
x_14_5_12 = 1
x_14_6_15 = 1
x_14_7_5 = 1
x_14_8_4 = 1
x_14_9_4 = 1
x_15_16_6 = 1
x_15_1_3 = 1
x_15_22_1 = 1
x_15_23_6 = 1
x_15_24_9 = 1
x_15_26_16 = 1
x_15_27_12 = 1
x_15_28_14 = 1
x_15_2_1 = 1
x_15_3_6 = 1
x_15_4_8 = 1
x_15_5_4 = 1
x_15_6_9 = 1
x_15_7_16 = 1
x_15_8_9 = 1
x_16_13_17 = 1
x_16_14_16 = 1
x_16_16_9 = 1
x_16_18_4 = 1
x_16_20_10 = 1
x_16_22_9 = 1
x_16_25_10 = 1
x_16_27_8 = 1
x_16_28_4 = 1
x_16_2_6 = 1
x_16_3_4 = 1
x_16_5_6 = 1
x_16_6_2 = 1
x_16_7_9 = 1
x_16_9_17 = 1
x_17_14_9 = 1
x_17_18_8 = 1
x_17_1_1 = 1
x_17_20_11 = 1
x_17_21_12 = 1
x_17_22_14 = 1
x_17_24_17 = 1
x_17_25_3 = 1
x_17_27_16 = 1
x_17_3_11 = 1
x_17_4_10 = 1
x_17_5_2 = 1
x_17_6_4 = 1
x_17_8_7 = 1
x_17_9_6 = 1
x_18_15_9 = 1
x_18_16_16 = 1
x_18_18_6 = 1
x_18_21_11 = 1
x_18_22_15 = 1
x_18_25_4 = 1
x_18_26_5 = 1
x_18_2_4 = 1
x_18_3_8 = 1
x_18_4_14 = 1
x_18_5_3 = 1
x_18_6_11 = 1
x_18_7_2 = 1
x_18_8_16 = 1
x_18_9_10 = 1
x_19_11_9 = 1
x_19_17_8 = 1
x_19_18_16 = 1
x_19_1_4 = 1
x_19_20_2 = 1
x_19_23_2 = 1
x_19_25_5 = 1
x_19_26_2 = 1
x_19_27_4 = 1
x_19_2_11 = 1
x_19_4_5 = 1
x_19_5_14 = 1
x_19_6_6 = 1
x_19_8_1 = 1
x_19_9_15 = 1
x_1_14_8 = 1
x_1_17_7 = 1
x_1_19_6 = 1
x_1_1_12 = 1
x_1_21_17 = 1
x_1_23_16 = 1
x_1_24_13 = 1
x_1_25_11 = 1
x_1_26_14 = 1
x_1_27_2 = 1
x_1_28_12 = 1
x_1_4_15 = 1
x_1_5_15 = 1
x_1_7_12 = 1
x_1_9_2 = 1
x_20_15_6 = 1
x_20_16_15 = 1
x_20_18_17 = 1
x_20_19_15 = 1
x_20_1_7 = 1
x_20_22_3 = 1
x_20_24_11 = 1
x_20_26_17 = 1
x_20_28_15 = 1
x_20_2_10 = 1
x_20_3_2 = 1
x_20_5_5 = 1
x_20_6_12 = 1
x_20_8_6 = 1
x_20_9_8 = 1
x_21_13_9 = 1
x_21_18_9 = 1
x_21_1_14 = 1
x_21_20_13 = 1
x_21_21_14 = 1
x_21_22_6 = 1
x_21_23_17 = 1
x_21_25_2 = 1
x_21_28_11 = 1
x_21_3_15 = 1
x_21_4_9 = 1
x_21_5_13 = 1
x_21_7_3 = 1
x_21_8_12 = 1
x_21_9_11 = 1
x_22_10_8 = 1
x_22_15_11 = 1
x_22_16_14 = 1
x_22_18_2 = 1
x_22_19_1 = 1
x_22_1_10 = 1
x_22_20_9 = 1
x_22_21_8 = 1
x_22_23_9 = 1
x_22_24_7 = 1
x_22_25_6 = 1
x_22_26_4 = 1
x_22_27_11 = 1
x_22_28_1 = 1
x_22_2_17 = 1
x_22_3_1 = 1
x_22_7_1 = 1
x_22_8_5 = 1
x_23_10_13 = 1
x_23_11_17 = 1
x_23_12_11 = 1
x_23_13_14 = 1
x_23_14_2 = 1
x_23_15_1 = 1
x_23_16_1 = 1
x_23_17_1 = 1
x_23_19_13 = 1
x_23_1_13 = 1
x_23_20_1 = 1
x_23_22_10 = 1
x_23_23_1 = 1
x_23_28_13 = 1
x_23_3_16 = 1
x_23_4_13 = 1
x_23_7_4 = 1
x_23_8_14 = 1
x_24_10_2 = 1
x_24_11_14 = 1
x_24_12_4 = 1
x_24_13_12 = 1
x_24_14_14 = 1
x_24_15_16 = 1
x_24_16_7 = 1
x_24_17_9 = 1
x_24_18_10 = 1
x_24_19_11 = 1
x_24_1_11 = 1
x_24_20_14 = 1
x_24_24_6 = 1
x_24_27_17 = 1
x_24_28_7 = 1
x_24_6_13 = 1
x_24_7_15 = 1
x_25_10_15 = 1
x_25_11_4 = 1
x_25_12_12 = 1
x_25_13_4 = 1
x_25_14_10 = 1
x_25_15_10 = 1
x_25_16_3 = 1
x_25_17_14 = 1
x_25_18_7 = 1
x_25_19_14 = 1
x_25_1_5 = 1
x_25_23_14 = 1
x_25_27_6 = 1
x_25_2_5 = 1
x_25_4_6 = 1
x_25_6_1 = 1
x_25_9_13 = 1
x_26_10_16 = 1
x_26_11_2 = 1
x_26_12_17 = 1
x_26_13_16 = 1
x_26_14_6 = 1
x_26_15_3 = 1
x_26_17_3 = 1
x_26_18_5 = 1
x_26_19_12 = 1
x_26_1_17 = 1
x_26_23_11 = 1
x_26_24_15 = 1
x_26_25_9 = 1
x_26_5_10 = 1
x_26_7_13 = 1
x_26_9_14 = 1
x_27_10_4 = 1
x_27_11_3 = 1
x_27_12_3 = 1
x_27_13_7 = 1
x_27_14_3 = 1
x_27_15_15 = 1
x_27_16_2 = 1
x_27_17_2 = 1
x_27_18_15 = 1
x_27_19_2 = 1
x_27_20_3 = 1
x_27_23_8 = 1
x_27_24_12 = 1
x_27_25_13 = 1
x_27_27_7 = 1
x_27_2_3 = 1
x_27_6_16 = 1
x_28_10_14 = 1
x_28_11_16 = 1
x_28_12_9 = 1
x_28_13_15 = 1
x_28_14_17 = 1
x_28_15_5 = 1
x_28_16_5 = 1
x_28_17_16 = 1
x_28_19_5 = 1
x_28_21_5 = 1
x_28_24_16 = 1
x_28_25_1 = 1
x_28_26_12 = 1
x_28_4_12 = 1
x_28_7_17 = 1
x_29_10_10 = 1
x_29_11_13 = 1
x_29_12_15 = 1
x_29_13_3 = 1
x_29_14_11 = 1
x_29_15_8 = 1
x_29_16_4 = 1
x_29_19_7 = 1
x_29_1_2 = 1
x_29_20_6 = 1
x_29_24_10 = 1
x_29_28_3 = 1
x_29_2_12 = 1
x_29_3_14 = 1
x_29_4_1 = 1
x_29_9_12 = 1
x_2_10_12 = 1
x_2_11_6 = 1
x_2_12_10 = 1
x_2_13_5 = 1
x_2_14_7 = 1
x_2_15_7 = 1
x_2_16_17 = 1
x_2_17_5 = 1
x_2_20_12 = 1
x_2_21_3 = 1
x_2_22_8 = 1
x_2_23_15 = 1
x_2_26_15 = 1
x_2_6_3 = 1
x_2_8_10 = 1
x_30_10_11 = 1
x_30_11_8 = 1
x_30_12_5 = 1
x_30_13_11 = 1
x_30_14_1 = 1
x_30_15_4 = 1
x_30_17_17 = 1
x_30_19_9 = 1
x_30_1_9 = 1
x_30_23_10 = 1
x_30_24_2 = 1
x_30_25_8 = 1
x_30_28_8 = 1
x_30_4_2 = 1
x_30_7_6 = 1
x_3_10_9 = 1
x_3_11_15 = 1
x_3_12_2 = 1
x_3_13_1 = 1
x_3_14_13 = 1
x_3_15_2 = 1
x_3_16_8 = 1
x_3_18_3 = 1
x_3_1_15 = 1
x_3_21_2 = 1
x_3_22_13 = 1
x_3_24_3 = 1
x_3_27_1 = 1
x_3_2_13 = 1
x_3_3_3 = 1
x_3_5_8 = 1
x_4_10_7 = 1
x_4_11_10 = 1
x_4_12_1 = 1
x_4_13_2 = 1
x_4_15_12 = 1
x_4_16_13 = 1
x_4_17_11 = 1
x_4_1_16 = 1
x_4_20_4 = 1
x_4_21_10 = 1
x_4_22_17 = 1
x_4_25_16 = 1
x_4_26_6 = 1
x_4_2_9 = 1
x_4_6_7 = 1
x_4_8_13 = 1
x_5_10_17 = 1
x_5_11_5 = 1
x_5_12_13 = 1
x_5_13_6 = 1
x_5_14_5 = 1
x_5_15_14 = 1
x_5_16_12 = 1
x_5_17_15 = 1
x_5_19_10 = 1
x_5_20_16 = 1
x_5_22_4 = 1
x_5_23_4 = 1
x_5_27_5 = 1
x_5_2_14 = 1
x_5_3_13 = 1
x_5_4_16 = 1
x_5_7_7 = 1
x_6_10_5 = 1
x_6_11_1 = 1
x_6_12_6 = 1
x_6_13_8 = 1
x_6_14_15 = 1
x_6_16_11 = 1
x_6_18_11 = 1
x_6_19_16 = 1
x_6_20_8 = 1
x_6_21_1 = 1
x_6_23_7 = 1
x_6_27_10 = 1
x_6_2_7 = 1
x_6_3_17 = 1
x_6_5_17 = 1
x_6_6_17 = 1
x_6_8_11 = 1
x_7_10_3 = 1
x_7_12_7 = 1
x_7_13_10 = 1
x_7_16_10 = 1
x_7_17_12 = 1
x_7_18_13 = 1
x_7_19_8 = 1
x_7_21_16 = 1
x_7_23_13 = 1
x_7_24_8 = 1
x_7_26_13 = 1
x_7_28_9 = 1
x_7_2_2 = 1
x_7_5_1 = 1
x_7_9_7 = 1
x_8_11_11 = 1
x_8_13_13 = 1
x_8_14_12 = 1
x_8_17_10 = 1
x_8_18_1 = 1
x_8_19_17 = 1
x_8_21_15 = 1
x_8_22_12 = 1
x_8_24_14 = 1
x_8_25_15 = 1
x_8_26_1 = 1
x_8_27_13 = 1
x_8_2_8 = 1
x_8_4_7 = 1
x_8_8_8 = 1
x_9_10_1 = 1
x_9_11_7 = 1
x_9_12_8 = 1
x_9_14_4 = 1
x_9_15_17 = 1
x_9_17_6 = 1
x_9_18_14 = 1
x_9_19_4 = 1
x_9_21_13 = 1
x_9_23_3 = 1
x_9_25_17 = 1
x_9_26_10 = 1
x_9_27_14 = 1
x_9_28_17 = 1
x_9_3_10 = 1
x_9_5_7 = 1
x_9_9_1 = 1

## Converting to a dataframe for a clean output

In [90]:
myperson = []
myday = []
myrole = []
value = []

for vi in model.variables():
    
    if vi.name.split("_")[0] == 'x':
    
        person = vi.name.split("_")[1]
        day = vi.name.split("_")[2]
        role = vi.name.split("_")[3]

        myperson.append(person)
        myday.append(day)
        myrole.append(role)
        value.append(vi.varValue)
    
data = {'Person':myperson, 'Day':myday, 'Role':myrole, 'Value':value} 

df = pd.DataFrame(data)

In [92]:
# df.to_csv('role_optimazation.csv', index = False)

In [91]:
df

      Person Day Role  Value
0         10  10    1    0.0
1         10  10   10    0.0
2         10  10   11    0.0
3         10  10   12    0.0
4         10  10   13    0.0
...      ...  ..  ...    ...
14275      9   9    5    0.0
14276      9   9    6    0.0
14277      9   9    7    0.0
14278      9   9    8    0.0
14279      9   9    9    0.0

[14280 rows x 4 columns]

In [92]:
roles = [
'Ah Counter', 
'Grammarian',
'Timer', 
'Toastmaster', 
'Meeting speaker 1',
'Meeting speaker 2',
'Meeting speaker 3',
'meeting speaker 4',
'Speech Evaluator 1',
'Speech Evaluator 2',
'Speech Evaluator 3',
'Speech Evaluator 4',
'General evaluator', 
'Table topic master', 
'Table topic evalauator 1',
'Table topic evalauator 2',
'Harkmaster' ]

person = [
    'Member 1',
'Member 2',
'Member 3',
'Member 4',
'Member 5',
'Member 6',
'Member 7',
'Member 8',
'Member 9',
'Member 10',
'Member 11',
'Member 12',
'Member 13',
'Member 14',
'Member 15',
'Member 16',
'Member 17',
'Member 18',
'Member 19',
'Member 20',
'Member 21',
'Member 22',
'Member 23',
'Member 24',
'Member 25',
'Member 26',
'Member 27',
'Member 28',
'Member 29',
'Member 30',
]

In [93]:
person_dict = {}
for i in enumerate(person):
    person_dict[i[0] + 1] = i[1]
    
role_dict = {}
for i in enumerate(roles):
    role_dict[i[0] + 1] = i[1]

In [94]:
df['Name'] = df['Person'].apply(lambda x:person_dict[int(x)])
df['Assignment'] = df['Role'].apply(lambda x:role_dict[int(x)])

In [95]:
df

      Person Day Role  Value       Name          Assignment
0         10  10    1    0.0  Member 10          Ah Counter
1         10  10   10    0.0  Member 10  Speech Evaluator 2
2         10  10   11    0.0  Member 10  Speech Evaluator 3
3         10  10   12    0.0  Member 10  Speech Evaluator 4
4         10  10   13    0.0  Member 10   General evaluator
...      ...  ..  ...    ...        ...                 ...
14275      9   9    5    0.0   Member 9   Meeting speaker 1
14276      9   9    6    0.0   Member 9   Meeting speaker 2
14277      9   9    7    0.0   Member 9   Meeting speaker 3
14278      9   9    8    0.0   Member 9   meeting speaker 4
14279      9   9    9    0.0   Member 9  Speech Evaluator 1

[14280 rows x 6 columns]

In [96]:
def mapper(row):
    if row['Value'] == 1:
        return str(int(row['Role']))
    return str(int(row['Value']))

In [97]:
df['y'] = df.apply(mapper,axis = 1)

In [98]:
df

      Person Day Role  Value       Name          Assignment  y
0         10  10    1    0.0  Member 10          Ah Counter  0
1         10  10   10    0.0  Member 10  Speech Evaluator 2  0
2         10  10   11    0.0  Member 10  Speech Evaluator 3  0
3         10  10   12    0.0  Member 10  Speech Evaluator 4  0
4         10  10   13    0.0  Member 10   General evaluator  0
...      ...  ..  ...    ...        ...                 ... ..
14275      9   9    5    0.0   Member 9   Meeting speaker 1  0
14276      9   9    6    0.0   Member 9   Meeting speaker 2  0
14277      9   9    7    0.0   Member 9   Meeting speaker 3  0
14278      9   9    8    0.0   Member 9   meeting speaker 4  0
14279      9   9    9    0.0   Member 9  Speech Evaluator 1  0

[14280 rows x 7 columns]

In [104]:
df['z'] = df['y'].apply(int)

In [105]:
table = pd.pivot_table(df, values='z', index=['Name'],
                    columns=['Day'], aggfunc=np.sum)

table

Day,1,10,11,12,13,14,15,16,17,18,...,26,27,28,3,4,5,6,7,8,9
Name,,,,,,,,,,,,,,,,,,,,,
Member 1,12,0,0,0,0,8,0,0,7,0,...,14,2,12,0,15,15,0,12,0,2
Member 10,8,0,12,0,0,0,0,0,0,0,...,9,0,5,12,3,16,5,10,17,9
Member 11,0,6,0,14,0,0,0,0,0,0,...,8,9,16,7,0,9,14,11,2,5
Member 12,6,0,0,16,0,0,0,0,13,0,...,7,0,2,5,17,11,8,14,15,16
Member 13,0,0,0,0,0,0,13,0,0,12,...,11,15,10,9,4,0,10,8,3,3
Member 14,0,0,0,0,0,0,0,0,4,0,...,3,3,6,0,11,12,15,5,4,4
Member 15,3,0,0,0,0,0,0,6,0,0,...,16,12,14,6,8,4,9,16,9,0
Member 16,0,0,0,0,17,16,0,9,0,4,...,0,8,4,4,0,6,2,9,0,17
Member 17,1,0,0,0,0,9,0,0,0,8,...,0,16,0,11,10,2,4,0,7,6
Member 18,0,0,0,0,0,0,9,16,0,6,...,5,0,0,8,14,3,11,2,16,10
Member 19,4,0,9,0,0,0,0,0,8,16,...,2,4,0,0,5,14,6,0,1,15
Member 2,0,12,6,10,5,7,7,17,5,0,...,15,0,0,0,0,0,3,0,10,0
Member 20,7,0,0,0,0,0,6,15,0,17,...,17,0,15,2,0,5,12,0,6,8
Member 21,14,0,0,0,9,0,0,0,0,9,...,0,0,11,15,9,13,0,3,12,11
Member 22,10,8,0,0,0,0,11,14,0,2,...,4,11,1,1,0,0,0,1,5,0
Member 23,13,13,17,11,14,2,1,1,1,0,...,0,0,13,16,13,0,0,4,14,0
Member 24,11,2,14,4,12,14,16,7,9,10,...,0,17,7,0,0,0,13,15,0,0
Member 25,5,15,4,12,4,10,10,3,14,7,...,0,6,0,0,6,0,1,0,0,13
Member 26,17,16,2,17,16,6,3,0,3,5,...,0,0,0,0,0,10,0,13,0,14
Member 27,0,4,3,3,7,3,15,2,2,15,...,0,7,0,0,0,0,16,0,0,0
Member 28,0,14,16,9,15,17,5,5,16,0,...,12,0,0,0,12,0,0,17,0,0
Member 29,2,10,13,15,3,11,8,4,0,0,...,0,0,3,14,1,0,0,0,0,12
Member 3,15,9,15,2,1,13,2,8,0,3,...,0,1,0,3,0,8,0,0,0,0
Member 30,9,11,8,5,11,1,4,0,17,0,...,0,0,8,0,2,0,0,6,0,0
Member 4,16,7,10,1,2,0,12,13,11,0,...,6,0,0,0,0,0,7,0,13,0
Member 5,0,17,5,13,6,5,14,12,15,0,...,0,5,0,13,16,0,0,7,0,0
Member 6,0,5,1,6,8,15,0,11,0,11,...,0,10,0,17,0,17,17,0,11,0
Member 7,0,3,0,7,10,0,0,10,12,13,...,13,0,9,0,0,1,0,0,0,7
Member 8,0,0,11,0,13,12,0,0,10,1,...,1,13,0,0,7,0,0,0,8,0
Member 9,0,1,7,8,0,4,17,0,6,14,...,10,14,17,10,0,7,0,0,0,1

In [107]:
df.groupby('Name').sum()['Value']

Name
Member 1     15.0
Member 10    17.0
Member 11    16.0
Member 12    16.0
Member 13    15.0
Member 14    15.0
Member 15    15.0
Member 16    15.0
Member 17    15.0
Member 18    15.0
Member 19    15.0
Member 2     15.0
Member 20    15.0
Member 21    15.0
Member 22    18.0
Member 23    18.0
Member 24    17.0
Member 25    17.0
Member 26    16.0
Member 27    17.0
Member 28    15.0
Member 29    16.0
Member 3     16.0
Member 30    15.0
Member 4     16.0
Member 5     17.0
Member 6     17.0
Member 7     15.0
Member 8     15.0
Member 9     17.0
Name: Value, dtype: float64

In [108]:
# df.to_csv('role_optimization_final_2.csv', index = False)